Django
djangorestframework
psycopg2-binary
gunicorn
python-dotenv
dj-database-url
redis
celery
django-celery-beat
openai
whitenoise
django-cors-headers
requests
zai-sdk
zai
zhipuai
langchain
langchain-community
langchain-openai
pypdf
chromadb
numpy
sympy
scikit-learn